@import "../../scss/Main";

.btnFilter {
  padding: 10px 0;
  height: 40px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
  background-color: $color-text-white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.colorDnD:hover {
  color: $color-DnDdark-purple;
  border-bottom: 1px solid $color-DnDdark-purple;
}

.colorCthulhu:hover {
  color: $color-Cdark-sea;
  border-bottom: 1px solid $color-Cdark-sea;
}

.colorAll:hover {
  color: $color-text-names;
  border-bottom: 1px solid $color-text-names;
}

.colorDead:hover {
  color: $color-text-black;
  border-bottom: 1px solid;
}

.colorLiving:hover {
  color: gray;
  border-bottom: 1px solid gray;
}
