$color-text-white:#FFFFFF;
$color-bg-white:#FFFFFF;
$color-DnDlight-purple:#db50b5;
$color-DnDdark-purple:#771e60;
$color-Clight-sea:#8dc0c1;
$color-Cdark-sea:#237873;
$color-text-names:#fece52;
$color-text-black: black;
$color-text-dark: rgb(36, 35, 35);
$color-error: rgb(187, 31, 31);
$color-buttonPrimary-hover:transparent linear-gradient(180deg, #1E0094 0%, #11478F 100%);
$color-buttonPrimary:transparent linear-gradient(180deg, #11478F 0%, #1E0094 100%);
$color-buttonSecondary:transparent linear-gradient(180deg, #948509 0%, #777137 100%);
$color-buttonDisabled:transparent linear-gradient(180deg, #B1B1B1 0%, #818181 100%);
$color-buttonReturn:transparent linear-gradient(180deg, #12B3A0 0%, #6B9107 100%);
$color-bg-blur: rgba(#000000, 0.6);

