@import "../../scss/Main";

.section {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  gap: 15px;
  padding: 15px;
}

@media only screen and (min-width: $breakpointXL) {
  .section {
    width: 70vw;
  }
}
