@import "../../scss/Main";

.section {
  &__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    gap: 15px;
    padding: 15px;
  }
}

@media only screen and (min-width: $breakpointXL) {
  .section {
    &__cards {
      width: 60vw;
    }
  }
}
